* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(60, 90, 190, 100),
    rgb(150, 150, 255, 100)
  );
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1 rem;
  position: fixed;
  width: 0%;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav ul {
  padding: 0;
  margin: 1;
  list-style: none;
  display: flex;
  gap: 1rem;
}

li {
  background-color: #333;
  border: solid 1px;
  border-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.nav li:hover {
  background-color: rgb(31, 90, 191);
}

th {
  color: black;
  background-color: white;
  border: 1px solid;
  border-left: 1px solid;
  border-radius: 5px;
  padding: 10px;
  /* border-color: black; */
  text-align: center;
  font-size: 24px;
}

tr {
  color: white;
  background-color: #333;
  border: 1px solid;
  border-left: 1px solid;
  padding: 10px;
  /* border-color: black; */
  text-align: center;
  font-size: 24px;
}

table {
  margin: 0 auto;
  color: black;
  /* border: 1px solid; */
  /* border-left: 1px solid; */
  text-align: center;
}

.container {
  text-align: center;
}

.headshotHolder {
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(500px 5px 0 black);
  opacity: 1;
}

.headshotHolder img {
  opacity: 0.5;
}
