.myStatsContainer {
  margin-top: 0.5rem;
  width: 22rem;
  /* background-color: white; */
  color: white;
  font-weight: 700;
  /* background-image: linear-gradient(
      to right,
  
      rgb(2, 190, 252, 0.24),
      rgb(120, 100, 252, 0.24)
    ); */
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.05rem solid white;
  /* border-radius: 0.5rem; */
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-family: helvetica;
  -webkit-text-stroke: 0.25px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
}

.firstRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 0.05rem white solid;
}

.secondRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.statsContainer {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#rightStatsContainer {
  border-right: 0.05rem white solid;
}

.stat {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
}

.todayScoreHolder {
  /* background-color: red; */
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.playerPicNameHolder {
  width: 50%;
  /* background-color: green; */
}

.scoreHolder {
  width: 50%;
  /* background-color: blue; */
}

.myStatsValue {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  /* align-items: center; */
  font-family: Helvetica;
  font-size: 2.5rem;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  font-weight: 700;
  letter-spacing: -0.1rem;
  color: white;
  padding: 0.5rem;
  padding-bottom: 1rem;
  -webkit-text-stroke: 2px;
  /* -webkit-text-stroke-color: rgb(59, 237, 178); */
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
  /* -webkit-text-stroke-color: rgb(2, 190, 252, 100); */
}

.textTop {
  padding-top: 0.5rem;
}

.todayScoreText {
  display: flex;
  justify-content: center;
  /* background-color: grey; */
  margin-top: 0.5rem;
  height: 30%;
  align-items: center;
}

.picHolder {
  display: flex;
  /* background-color: green; */
  height: 70%;
  justify-content: center;
  align-items: center;
}

.todayStatsPicReveal {
  width: 100px;
  height: auto;
}

.todayStatsPicHidden {
  width: 100px;
  height: auto;
  -webkit-filter: drop-shadow(2px 2px 0 rgba(255, 255, 255, 0.75))
    drop-shadow(-2px 2px 0 rgba(255, 255, 255, 0.75))
    drop-shadow(2px -2px 0 rgba(255, 255, 255, 0.75))
    drop-shadow(-2px -2px 0 rgba(255, 255, 255, 0.75));

  filter: contrast(0%) brightness(0%)
    drop-shadow(2px 2px 0 rgba(255, 255, 255, 0.75))
    drop-shadow(-2px 2px 0 rgba(255, 255, 255, 0.75))
    drop-shadow(2px -2px 0 rgba(255, 255, 255, 0.75))
    drop-shadow(-2px -2px 0 rgba(255, 255, 255, 0.75));
}

#date {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  /* -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100); */
  border-bottom: 0.05rem white solid;
}

#bottomRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 0.05rem solid white;
}

#guessLog {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
  width: 80%;
  align-items: left;
}

#shareContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-left: 0.05rem solid white;
  background-color: white;
  color: rgb(2, 80, 150, 100);
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
}

#shareContainer:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

#shareButton {
  width: 60%;
  margin-left: 5;
  padding-left: 5;
}
