.statsContainer {
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.statsText {
  padding-top: 0.2rem;
  color: black;
  font-weight: bold;
}

.statsImage {
  width: 150px;
}
