.container {
  margin-top: 3rem;
  width: 22rem;
  height: 15rem;
  /* background-color: white; */
  color: white;
  font-weight: 700;
  /* background-image: linear-gradient(
    to right,

    rgb(2, 190, 252, 0.24),
    rgb(120, 100, 252, 0.24)
  ); */
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.05rem solid white;
  /* border-radius: 0.5rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-family: helvetica;
  -webkit-text-stroke: 0.25px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
}

.todayScoreHolder {
  /* background-color: red; */
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}

.playerPicNameHolder {
  width: 50%;
  /* background-color: green; */
}

.scoreHolder {
  width: 50%;
  /* background-color: blue; */
}

.scoreValue {
  display: flex;
  /* background-color: red; */
  height: 70%;
  justify-content: center;
  /* align-items: center; */
  font-family: Helvetica;
  font-size: 4rem;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  font-weight: 900;
  letter-spacing: -0.1rem;
  color: white;
  -webkit-text-stroke: 2px;
  /* -webkit-text-stroke-color: rgb(59, 237, 178); */
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
  /* -webkit-text-stroke-color: rgb(2, 190, 252, 100); */
}

.todayScoreText {
  display: flex;
  justify-content: center;
  /* background-color: grey; */
  height: 30%;
  align-items: center;
}

.picHolder {
  display: flex;
  /* background-color: green; */
  height: 70%;
  justify-content: center;
  align-items: center;
}

.todayStatsPic {
  width: 100px;
  height: 100px;
}

#date {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
  border-bottom: 0.05rem white solid;
}

#guessLog {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0, 100);
  border-top: 0.05rem white solid;
}
